@{
    Layout = "_Layout";
}

@section styles{

}
<div class="layout-content">
    <div class="container">
        <i-form :model="formValidate" ref="formValidate" :rules="validateRules" :label-width="80" enctype="multipart/form-data">
            <Form-item label="新密码" prop="NewPassword">
                <i-input v-model="formValidate.NewPassword" placeholder="请输入你的新密码" @@on-enter="handleSubmit('formValidate')" type="password"></i-input>
            </Form-item>
            <Form-item label="确认密码" prop="RepeatPwd">
                <i-input v-model="formValidate.RepeatPwd" placeholder="请再次输入你的新密码" @@on-enter="handleSubmit('formValidate')" type="password"></i-input>
            </Form-item>
            <Form-item>
                <Row>
                    <i-col span="8">&nbsp;</i-col>
                    <i-col span="8" style="text-align:center;">
                        <i-button type="primary" @@click="handleSubmit('formValidate')">确定</i-button>
                        <a href="/home/index"><i-button type="ghost" style="margin-left: 8px">返回</i-button></a>
                    </i-col>
                    <i-col span="8">&nbsp;</i-col>
                </Row>
            </Form-item>
        </i-form>
    </div>
</div>
@section scripts{
 <script>
     new Vue({
         el: '#app',
         data: {
             formValidate: {
                 NewPassword: '',
                 RepeatPwd: ''
             },
             validateRules: {
                 NewPassword: [
                     { required: true, message: '密码不能为空', trigger: 'blur' }
                 ],
                 RepeatPwd: [
                     { required: true, message: '密码不能为空', trigger: 'blur' }
                 ]
             }
         },
         methods: {
             handleSubmit(name) {
                 this.$refs[name].validate((valid) => {
                     if (valid) {
                         var _this = this;
                         axios.post('/account/ChangePassword', this.formValidate, {
                             params: {
                                 NewPassword: this.formValidate.NewPassword,
                                 RepeatPwd: this.formValidate.RepeatPwd
                             }
                         })
                             .then(function (response) {
                                 _this.$Message.success('修改成功!');

                                 setTimeout(function () {
                                     window.location.href = "/account/login";
                                 }, 1000);
                             })
                             .catch(function (error) {
                                 console.log(error);
                                 if (error.response) {
                                     _this.$Message.error('修改失败, ' + error.response.data);
                                 }
                                 else {
                                     _this.$Message.error('修改失败!!');
                                 }
                             });
                     } else {
                         _this.$Message.error('表单验证失败!');
                     }
                 })
             },
             handleReset(name) {
                 this.$refs[name].resetFields();
             }
         }
     })
</script>
    }
